@import '~styles/config';

.button {
  @if variable-exists(font-size-button-min) and variable-exists(font-size-button) {
    @include responsive-font($font-size-button-min, $font-size-button);
  }
  
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: calc(var(--gutter) * 0.5) var(--gutter);

  @if variable-exists(button-width) {
    width: $button-width;
  }

  @if variable-exists(button-height) {
    min-height: $button-height;
  }

  max-width: 100%;

  border-radius: 3px;

  font-weight: 700;
  line-height: 1.1;
  text-decoration: none;

  background-color: var(--color-primary);
  color: #fff;

  &.disabled {
    cursor: default;
    pointer-events: none;

    opacity: 0.5;
  }
}