@import 'styles/config';

@function make-columns($i) {
  @return repeat($grid-column-count / ($grid-column-count / $i), minmax(0, 1fr));
}

// wrapper for grid items
.grid {
  @include grid($grid-row-gap: var(--gutter));

  grid-template-columns: make-columns(1);
}

$breakpoints: ('mobile': $min-mobile, 'tablet': $min-tablet, 'desktop': $min-desktop, 'limit': $page-limit);

@each $name, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @for $i from 1 through $grid-column-count {
      .#{$name}#{$i} {
        grid-template-columns: make-columns($i);
      }
    }
  }
}