@import 'styles/config';

@function make-columns($i) {
  @return repeat($grid-column-count / ($grid-column-count / $i), minmax(0, 1fr));
}

// wrapper for grid items
.grid {
  @include grid;

  grid-template-columns: make-columns(1);
}

$breakpoints: ('Mobile': $min-mobile, 'Tablet': $min-tablet, 'Desktop': $min-desktop);

@each $name, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @for $i from 1 through $grid-column-count {
      .grid#{$name}#{$i} {
        grid-template-columns: make-columns($i);
      }
    }
  }
}