@import 'styles/config';

.hero {
  @include section;
    // demo style for labelling
  @mixin label {
    position: relative;

    padding-top: 11px;

    &::before {
      position: absolute;
      top: 0;
      right: 0;

      font-size: 11px;

      background: rgba(#fff, 0.5);
    }
  }

  display: flex;
  align-items: stretch;
  
  min-height: 80vmin;

  background: var(--color-primary);
  color: #fff;

  &__grid {
    @include grid;
  }

  &__container {
    @include container;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__content {
    @include grid-item;
    @include label;

    position: relative;

    &::before {
      content: 'mobile: 100%';
    }

    @media (min-width: $min-tablet) {
      @include grid-item(10);

      &::before {
        content: 'tablet: 10 / 12';
      }
    }

    @media (min-width: $min-desktop) {
      @include grid-item(8);

      &::before {
        content: 'desktop: 8/12';
      }
    }

    @media (min-width: $page-limit) {
      @include grid-item(6);

      &::before {
        content: 'max page width: 6 / 12';
      }
    }

    a {
      color: inherit;
    }
  }

  &__block {
    @include grid-item;
    @include label;

    // aspect-ratio: 16 / 9;
    padding: var(--gutter);

    background: rgba(#fff, 0.5);
    color: var(--color-font);

    &::before {
      content: 'default: 100%';
    }

    @media (min-width: $min-desktop) {
      @include grid-item(4);

      &::before {
        content: 'desktop: 4 / 12';
      }
    }
  }
}