// project-specific global css should go here
@import 'reset';
@import 'config';

:root {
  --color-background: #{$color-background};
  --color-border: #{$color-border};
  --color-font: #{$color-font};
  --color-placeholder: #{$color-placeholder};
  --color-primary: #{$color-primary};
  --container-gutter: #{$container-gutter-mobile};
  --gutter: #{$gutter};

  @media (prefers-color-scheme: dark) {
    --color-font: #{$color-font-dark-mode};
    --color-background: #{$color-background-dark-mode};
  }

  @media (min-width: $min-tablet) {
    --container-gutter: #{$container-gutter-tablet};
  }

  @media (min-width: $min-desktop) {
    --container-gutter: #{$container-gutter-desktop};
  }
}

html {
  color: var(--color-font);
  background: var(--color-background);
}

body {
  font-family: $font-family;
  // line-height: $line-height;

}

a {
  text-decoration: underline;

  @media (pointer: fine) {
    &:hover {
      text-decoration: none;
    }
  }
}

// placeholders
input,
textarea,
select {
  &::-webkit-input-placeholder {
    color: var(--color-placeholder);
  }

  &::-moz-placeholder {
    opacity: 1;
    color: var(--color-placeholder);
  }

  &:-ms-input-placeholder {
    color: var(--color-placeholder);
  }
}