// GRID as css grid

// parent grid to layout items along a grid
@mixin grid($grid-count: $grid-column-count, $direction: ltr, $grid-row-gap: 0, $grid-column-gap: var(--gutter)) {
  // linear until $min-mobile, gives space for gap to not overflow
  display: grid;
  align-items: flex-start;
  gap: $grid-row-gap 0;
  grid-template-rows: auto;
  grid-template-columns: repeat($column-count, minmax(0, 1fr));

  flex: none;
  direction: $direction;
  
  width: 100%;

  // mq should be more like ($grid-gutter (px value, not custom prop!) * $grid-column-count)
  @media (min-width: $min-mobile) {
    gap: $grid-row-gap $grid-column-gap;
  }
}

// individual column. use @include grid-item(5) where number = column span
@mixin grid-item($col-width: $grid-column-count, $offset: 0) {
  // @if ($col-width > $grid-column-count) {
  //   $col-width: $grid-column-count;
  // }

  @if ($offset > 0) {
    grid-column: ($offset + 1) / span #{$col-width};
  }
  
  @else {
    grid-column: span $col-width;
  }
}

// for nested in-grid flexible-grid using flexbox
@mixin flex-grid($direction: ltr, $align: stretch, $justify: flex-start, $grid-gutter: $gutter, $wrap: wrap) {
  display: flex;
  flex-wrap: $wrap;

  align-items: $align;
  justify-content: $justify;

  margin-left: -($grid-gutter/2);
  margin-right: -($grid-gutter/2);

  @supports (--css: variables) {
    margin-left: calc(var(--gutter) * -0.5);
    margin-right: calc(var(--gutter) * -0.5);
  }

  @if $direction == ltr {
    flex-direction: row;
  }

  @else {
    flex-direction: row-reverse;
  }
}

// flex-grid item
@mixin flex-grid-item($width: 100%, $align: stretch, $grid-gutter: $gutter) {
  flex: none;
  align-self: $align;

  padding-left: $grid-gutter/2;
  padding-right: $grid-gutter/2;

  width: make-percentage($width);

  @supports (--css: variables) {
    padding-left: calc(var(--gutter) * 0.5);
    padding-right: calc(var(--gutter) * 0.5);
  }
}

@mixin grid-offset-left($offset: 1) {
  margin-left: make-percentage($offset);
}

@mixin grid-offset-right($offset: 1) {
  margin-right: make-percentage($offset);
}