// BLOCK / GRID
$gutter: 30px;

$grid-column-count: 12;

// container
$container-gutter-mobile: 20px;
$container-gutter-tablet: 50px;
$container-gutter-desktop: 70px;

// spacing between sections
$section-padding: 140px;
$section-padding-mobile: 90px;

// DIMENSIONS
$header-height: 90px;
$header-height-mobile: 60px;

$page-width: 1440px;
$page-limit: 1440px + ($container-gutter-desktop * 2);

$button-height: 60px;
$button-width: 220px;

// BREAKPOINTS
$min-mobile: 480px;
$min-tablet: 720px;
$min-desktop: 1080px;

$max-tablet: $min-tablet - 1px;
$max-desktop: $min-desktop - 1px;

// STACK
$zindex-header: 1;

// COLORS
$color-background: #fff;
$color-background-dark-mode: #000;
$color-border: rgba(#c09, 0.3);
$color-font: #000;
$color-font-dark-mode: #ddd;
$color-placeholder: #eee;
$color-primary: #c0a;
$color-link: $color-primary;

// TYPE (locally-hosted set up)
$font-family-serif: 'Gentium Basic', Times, "Times New Roman", serif;
$font-family-sans: 'Poppins', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
$font-family-monospace: monospace, sans-serif;

$font-family: $font-family-sans;
$font-family-heading: $font-family-serif;

// font-sizes
$font-size: 20px;
$font-size-min: 16px;

$font-size-button: 16px;
$font-size-button-min: 14px;

$h1-size: 60px;
$h1-size-min: 40px;
$h2-size: 40px;
$h2-size-min: 32px;
$h3-size: 32px;
$h3-size-min: 26px;
$h4-size: 26px;
$h4-size-min: 22px;
$h5-size: 22px;
$h5-size-min: 20px;
$h6-size: $font-size;
$h6-size-min: $font-size-min;

$line-height: 1.5;

// ANIMATION [power1, 2, 3, 4] in gsap;

// ease-in
$ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
$ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);

// ease-out
$ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
$ease-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

// ease-in-out
$ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
$ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

$default-ease: $ease-in-out-quint;

$transition-duration: 300ms;