// BLOCK / GRID
$gutter: 30px;

$grid-column-count: 12;

// container
$container-gutter-mobile: 20px;
$container-gutter-tablet: 50px;
$container-gutter-desktop: 70px;

// spacing between sections
$section-padding: 140px;
$section-padding-mobile: 90px;

// DIMENSIONS
$header-height: 90px;
$header-height-mobile: 60px;
$page-width: 1440px;

// breakpoints
$min-mobile: 480px;
$min-tablet: 720px;
$min-desktop: 1080px;

$max-tablet: $min-tablet - 1px;
$max-desktop: $min-desktop - 1px;

//  colors
$color-background: #fff;
$color-background-dark-mode: #000;
$color-border: rgba(#c09, 0.3);
$color-font: #000;
$color-font-dark-mode: #ddd;
$color-placeholder: #eee;
$color-primary: #c0a;
$color-link: #c00;

// type
$font-family-serif: 'Gentium Basic', Times, "Times New Roman", serif;
$font-family-sans: 'Poppins', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
$font-family: $font-family-sans;
$font-family-heading: $font-family-serif;

// font-sizes
$font-size: 20px;
$font-size-min: 16px;

$h1-size: 60px;
$h1-size-min: 40px;
$h2-size: 40px;
$h2-size-min: 32px;
$h3-size: 32px;
$h3-size-min: 26px;
$h4-size: 26px;
$h4-size-min: 22px;
$h5-size: 22px;
$h5-size-min: 20px;
$h6-size: $font-size;
$h6-size-min: $font-size-min;

$line-height: 1.5;
