@import 'styles/config';

// handle default html tags as article styles 
.richText {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  // use rem here for consistent spacing rules?
  $block-margin: 2rem;
  
  // cant loop this dynamically (or at least not in a readable way)
  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  h6 {
    @include h6;
  }

  $block-elements: p, ul, ol, dl, blockquote, pre;
  $heading-elements: h1, h2, h3, h4, h5, h6;

  @each $el in $block-elements {

    #{$el}:empty {
      display: none;
    }
    
    #{$el} {
      margin-top: $block-margin;
      margin-bottom: $block-margin;
    }

    h4 + #{$el} {
      margin-top: 1rem;
    }

    h5 + #{$el},
    h6 + #{$el} {
      margin-top: 0;
    }

    // heading gets more spacing above when adjacent to a block el
    @each $heading in $heading-elements {
      @if index('h1' 'h2' 'h3', $heading) {
        #{$el} + #{$heading} {
          margin-top: $block-margin * 2;
        }
      }
      @else {
        #{$el} + #{$heading} {
          margin-top: $block-margin;
        }
      }
    }


  }

  @each $heading in $heading-elements {
    &:empty {
      display: none;
    }
  }

  h5 + &,
  h6 + & {
    margin-top: 0;
  }

  hr {
    margin-top: $block-margin * 2;
    margin-bottom: $block-margin * 2;
  }

  ul,
  ol {
    padding-left: (30px/$font-size) * 1em;

    list-style-position: outside;

    @media (min-width: $min-tablet) {
      padding-left: (50px/$font-size) * 1em
    }

    > li > ul,
    > li > ol {
      margin: 0.5em 0;
      padding-left: 1em;
    }

  }

  ul {
    
    li {
      display: list-item;
      list-style: disc inside;
      li {
        list-style-type: circle;
      }
    }
  }

  ol {
    list-style: decimal inside;

    ol {
      counter-reset: list-alpha;

      li {
        list-style: lower-alpha inside;
      }
    }
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin-bottom: $block-margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  b,
  strong {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }

  code,
  pre {
    border-radius: 3px;
    border: 1px solid var(--color-border);

    background-color: lighten(#000, 90%);
    color: #e01e5a;

    font-family: $font-family-monospace;
  }

  code {
    padding: 0.1em 0.3em;
  }

  pre {
    padding: var(--gutter);
    
    code {
      padding: 0;
  
      border: 0;
      background: none;
    }
  }
}