@import 'styles/config';

// handle default html tags as article styles 
.richText {
  // $heading-elements: h1, h2, h3, h4, h5, h6;

  // @each $el in $heading-elements {
  //   #{$el} {
  //     @include #{$el};
  //   }
  // }

  // use rem here for consistent spacing rules?
  $block-margin: 2rem;
  
  h1 {
    @include h1;
  }

  h2 {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  h6 {
    @include h6;
  }

  $block-elements: p, ul, ol, dl, blockquote, pre;
  $heading-elements: h1, h2, h3, h4, h5, h6;

  @each $el in $block-elements {
    
    #{$el} {
      all: revert;
      margin-top: $block-margin;
      margin-bottom: $block-margin;

      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
    }

    h4 + #{$el} {
      margin-top: 1rem;
    }

    h5 + #{$el},
    h6 + #{$el} {
      margin-top: 0;
    }

    // heading gets more spacing above
    @each $heading in $heading-elements {
      #{$el} + #{$heading} {
        margin-top: $block-margin * 2;
      }
    }


  }

  h5 + &,
  h6 + & {
    margin-top: 0;
  }

  hr {
    margin-top: $block-margin * 2;
    margin-bottom: $block-margin * 2;
  }

  ul,
  ol {
    padding-left: (50px/$font-size) * 1em;

    list-style-position: outside;
  }

  ul {
    
    li {
      display: list-item;
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }

  dt {
    font-weight: 700;
  }

  dd {
    margin-bottom: $block-margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  b,
  strong {
    font-weight: 700;
  }

  em, i {
    font-style: italic;
  }
}