@import 'styles/config';

.formElements {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gutter);

  max-width: 800px;

  > div {
    display: grid;
    grid-column: span 2;
    align-items: center;
    grid-template-columns:  20ch 1fr;

    // override fallback
    grid-template-columns: subgrid;
  }
}