@import 'styles/config';

.pageTransition {
  // use SCSS vars for this so we dont get a fail on transitionend using css custom props
  $page-transition-duration: 1500ms;

  &.transition {
    background: var(--color-primary);

    @media (prefers-reduced-motion: reduce) {
      background: var(--color-background);
    }
  }

  &__inner {
    background: var(--color-background);
  }

  &__wipe {
    @include fit(fixed);
    z-index: 1000;

    contain: strict;

    opacity: 0;

    pointer-events: none;

    > span {
      display: block;
      width: 150%;
      height: 150%;

      transform: skew(-10deg);

      background: var(--color-primary);
    }

    &::before {
      @include fit;

      margin: auto;

      color: #fff;
      font-size: 80px;
    }

    // exit transition is first
    .exit & {
      opacity: 1;
      transform: translate3d(-100%, 0, 0);

      &::before {
        content: 'exit';
      }
    }

    .exitActive & {
      transform: none;

      > span {
        transform: none;
      }

      &::before {
        content: 'exit active';
      }
    }
    
    .exitActive.transition & {
      transform: none;
      transition: transform $page-transition-duration $default-ease;
    }

    .enter & {
      opacity: 1;
      transform: none;

      &::before {
        content: 'enter';
      }
    }

    .enterActive & {
      transform: translate3d(100%, 0, 0);

      &::before {
        content: 'enter active';
      }
    }
    
    .enterActive.transition & {
      transition: transform $page-transition-duration $default-ease;
    }
  }
}





