// an example page transition. transforms an element across the page
// css classes triggered by a <SwitchTransition />

@import 'styles/config';

.pageTransition {
  // use SCSS vars for this so we dont get a fail on transitionstart / end using css custom props
  // if we have 2 different transition lengths
  $page-transition-duration: 500ms;

  &__inner {

    .enterActive &,
    .exitActive & {
      pointer-events: none;

      transition: opacity $page-transition-duration;
    }

    .enter & {
      opacity: 0;
    }
    
    .exit & {
      opacity: 1;
    }

    .enterActive & {
      opacity: 1;
    }
    
    .exitActive & {
      opacity: 0;
    }
  }

  &__wipe {
    @include fit(fixed);

    display: block;
    contain: strict;

    z-index: $zindex-header + 1;

    width: 100%;
    height: 100%;

    pointer-events: none;

    opacity: 0;

    background: var(--color-primary);

    transform-origin: left bottom;

    &.hidden {
      display: none;
    }

    // exit transition is first
    .exit & {
      opacity: 1;
 
      transform: skew(40deg) translate3d(-100%, 0, 0);
    }

    .exitActive & {
      transform: none;

      transition: transform $page-transition-duration $ease-in-quad;
    }

    .enter & {
      opacity: 1;

      transform: none;
    }

    .enterActive & {
      transform: translate3d(100%, 0, 0);

      transition: transform $page-transition-duration $ease-out-quad;
    }

  }
}