@import 'styles/config';

.h1 {
  @include h1;

  margin-bottom: clamp(20px, 0.5em, 50px);

  line-height: 1.15;
}

.h2 {
  @include h2;

  margin-bottom: clamp(20px, 0.5em, 40px);
}

.h3 {
  @include h3;
}