@import 'styles/config';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: $zindex-header;
  
  height: $header-height;
  height: var(--header-height);

  background: var(--color-secondary, --color-background);

  @media (min-width: $min-desktop) {
    position: relative;
  }

  &__skip {
    position: absolute;
    top: 0;
    transform: translateY(-100%);

    &:focus {
      transform: none;
    }
  }

  &__container {
    @include container;
  
    display: flex;
    align-items: center;

    height: 100%;
    // hmmm. help safari understand what 100% of header is on resize :/
    height: var(--header-height);
  }

  &__nav {
    margin-left: auto;
    padding-left: var(--gutter);
  }

  &__controls {
    margin-left: var(--gutter);

    @media (min-width: $min-desktop) {
      display: none;
    }
  }
}