@import 'styles/config';

.header {
  position: relative;
  z-index: $zindex-header;
  height: $header-height;

  background: #caa;

  &__container {
    @include container;
  
    display: flex;
    align-items: center;

    height: 100%;
  }

  &__nav {
    margin-left: auto;
    padding-left: var(--gutter);
  }

  &__controls {
    margin-left: var(--gutter);

    @media (min-width: $min-desktop) {
      display: none;
    }
  }
}