@import 'styles/config';

.box {
  contain: layout;

  flex: none;

  background: transparent;
  width: 20vmin;
  height: 20vmin;

  &__text,
  &__bg {
    @include fit;

    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    font-size: 4vmin;
    font-variant-numeric: tabular-nums;

    // backface-visibility: hidden;

    // transform: rotateY(0);
  }


  &__bg {
    z-index: 0;
    background: #c09;
    color: #fff;

    transform: rotateY(180deg);
  }
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}