@import 'styles/config';

.cards {
  align-items: stretch;
  justify-items: stretch;
  grid-template-rows: auto 1fr auto;

  --card-gutter: 20px;
}

.card {
  padding: var(--card-gutter);

  background: var(--color-primary);
  color: #fff;

  @media (min-width: $min-tablet) {
    display: grid;
    grid-template-rows: auto 1fr auto;

    // override fallback
    grid-template-rows: subgrid;
    
    // span parent grid
    grid-row: span 3;
    // reset gaps
    grid-row-gap: 0;
  }

  &__heading {
    display: flex;
    align-items: center;
    padding-bottom: var(--card-gutter);
    margin-bottom: var(--card-gutter);

    border-bottom: 1px solid currentColor;

    > a {
      color: inherit;
    }
  }

  &__content {

  }

  &__date {
    margin-top: var(--card-gutter);
    padding-top: var(--card-gutter);

    border-top: 1px solid currentColor;
  }
}