@import 'reset';
@import 'config';

:root {
  --gutter: #{$gutter};
  --section-padding: #{$section-padding};

  --color-background: #{$color-background};
  --color-font: #{$color-font};
}

html {
  color: var(--color-font);
  background: var(--color-background);
}

body {
  font-family: $font-family;
  // line-height: $line-height;

}

// placeholders
input,
textarea,
select {
  // &::-webkit-input-placeholder {
  //   color: $color-placeholder;
  // }

  // &::-moz-placeholder {
  //   opacity: 1;
  //   color: $color-placeholder;
  // }

  // &:-ms-input-placeholder {
  //   color: $color-placeholder;
  // }
}