// BLOCK / GRID
$gutter: 30px;

// container
$container-gutter-mobile: 20px;
$container-gutter-tablet: 40px;
$container-gutter-desktop: 60px;

// section
$section-padding: 200px;
$section-padding-mobile: 90px;

// dimensions
$page-width: 1440px;

//  colors
$color-font: #000;
$color-background: rgba(#c09, 0.3);
$color-primary: #00c;
$color-border: #ccc;

// type
$font-family: sans-serif;
$font-family-heading: serif, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

// font-sizes
$font-size: 20px;
$font-size-min: 16px;
$h1-size: 50px;
$h1-size-min: 40px;
$h2-size: 40px;
$h2-size-min: 30px;
$h3-size: 36px;
$h3-size-min: 36px;