@import 'styles/config';

.nav {
  @media (max-width: $max-desktop) {
      contain: layout;
      
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;

      width: 100%;

      max-width: $min-mobile;

      pointer-events: none;

      backface-visibility: hidden;

    &__inner {
      display: flex;
      flex-direction: column;

      padding: 0 var(--gutter) var(--gutter);

      height: 100%;

      pointer-events: auto;

      background: var(--color-background);

      transform: translate3d(105%, 0, 0);

      .open & {
        transform: none;
        transition: transform var(--transition-duration) var(--default-ease);
      }
    }

    &__backdrop {
      cursor: pointer;
    }

    &__close {
      margin-left: auto;

      height: var(--header-height);
    }
  }

  @media (min-width: $min-desktop) {
    display: flex;

    &__close {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin-right: var(--gutter);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}