@import 'styles/config';

.nav {
  @media (max-width: $max-desktop) {
    @include fit(fixed);
    contain: layout;

    pointer-events: none;

    &__inner {
      display: flex;
      justify-content: flex-end;

      width: 100%;
      height: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: none;

      padding: 0 var(--gutter) var(--gutter);

      position: relative;
      z-index: 1;

      height: 100%;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      
      max-width: $min-mobile;

      pointer-events: auto;

      background: var(--color-background);

      transform: translate3d(105%, 0, 0);

      .open & {
        transform: none;
        transition: transform var(--transition-duration) var(--default-ease);
      }
    }

    &__backdrop {
      @include fit;
      z-index: 0;

      width: 100%;

      opacity: 0;
      background: #000;

      .open & {
        opacity: 0.3;

        pointer-events: auto;

        transition: opacity var(--transition-duration) var(--default-ease);
      }
    }

    &__close {
      display: flex;
      align-items: center;

      margin-left: auto;
      margin-right: calc(var(--container-gutter) - var(--gutter));

      height: var(--header-height);
    }
  }

  @media (min-width: $min-desktop) {
    display: flex;

    &__close {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__item {
      margin-right: var(--gutter);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}