@import 'styles/config';

.grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;

  overflow: hidden;
  pointer-events: none;

  transform-origin: 50% 0%;

  &__container {
    @include container;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 100%;
  }

  &__visual {
    height: 100%;

    position: relative;
    opacity: 0;
    animation: fade-in 200ms forwards;

    @keyframes fade-in {
      to {
        opacity: 1;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 100vh;
      content: '';
      background-image: repeating-linear-gradient(
        to right,
        rgba(#fff, 0.2),
        rgba(#fff, 0.2) calc((100% / #{$grid-column-count}) - var(--gutter)),
        calc((100% / #{$grid-column-count}) - var(--gutter)),
        rgba(#000, 0.05) calc(100% / #{$grid-column-count})
      );
      
      background-size: calc(100% + var(--gutter)) 100%;
      background-position: 0 0;
      pointer-events: none;
    }
  }

  &__button {
    display: block;

    position: fixed;
    right: 75px;
    top: 0;
    z-index: 10000;

    padding: 0 15px;

    height: 24px;
    width: 40px;
    
    border-radius: 0 0 2px 2px;

    cursor: pointer;
    pointer-events: all;

    text-transform: uppercase;

    color: #999;
    background-color: #fff;
    opacity: 1;

    transition: opacity 0.25s, transform 0.1s;

    &:hover {
      color: #000;
    }

    &:focus {
      outline: none;
    }

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 4px;

      width: 6px;
      height: 14px;

      border: solid currentColor;
      border-width: 0 2px;
    }

    &::before {
      left: 13px;
    }

    &::after {
      right: 13px;
    }

  }
}